.button{
    flex-wrap: wrap;
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
    height: 90px;
    width: 230px;
    background: bisque;
    border-radius: 5px;
    border: 1px solid burlywood;
    justify-content: center;
    display: flex;

}

.buttonFor{
    background: bisque;
    border: 1px solid burlywood;
    border-radius: 8px;
    margin: 10px;
    height: 40px;
    min-width: 50px;
    font-size: 7px;


}